<h2>My Workoutprograms</h2>
<ul class="workoutprograms">
  <li *ngFor="let workoutprogram of workoutprograms">
    <a routerLink="/detail/{{workoutprogram.id}}">
      <span class="badge">{{workoutprogram.id}}</span> {{workoutprogram.name}}
    </a>
  </li>
</ul>

<app-workoutprogram-detail [workoutprogram]="selectedWorkoutprogram"></app-workoutprogram-detail>