<div *ngIf="workoutprogram">

  <h2>{{workoutprogram.name | uppercase}} Details</h2>
  <div><span>id: </span>{{workoutprogram.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="workoutprogram.name" placeholder="name"/>
    </label>
  </div>

  <button (click)="goBack()">go back</button>

</div>